body {
	font-family: Helvetica;
	font-size: 36;
	color: blue;
}
@media screen and (max-width: 300px) {
	body {
	font-family: Helvetica;
	font-size: 24;
	color: red;
}
	
}

@media screen and (max-width: 100px) {
	body {
	font-family: Courier;
	font-size: 18;
	color: purple;
}
	
}